@import '~@fluentui/react/dist/sass/References.scss';

.calendar {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  text-align: center;
}

.headerTitle {
  display: flex;
  align-items: center;   
  gap: 10px;             
  font-weight: bold;
  font-size: 20px;
}

.calendarIcon {
  font-size: 35px;
  color: blue;
}

.event {
  font-size: 15px;
  padding: 10px;
}

.event div {
  margin-bottom: 6px;
}


.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}